<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tic Tac Toe</title>
</head>
<body>

@RenderSection("styles", false)

@RenderBody()

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.3/signalr.min.js" integrity="sha512-BGCnhut2nqTXaIMb8DaUQ7tmjj0qjDTAwqrQuXV09qQDoltaE5N4hgr5r74biIYR8E8RHm8817isyWgjSMysFw==" crossorigin="anonymous"></script>

<script>
    function guid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,
            function(c) {
                var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
    }

    function playerId() {
        if (!localStorage.getItem("playerId"))
            localStorage.setItem("playerId", guid());

        return localStorage.getItem("playerId");
    }
</script>

@RenderSection("scripts", false)

</body>
</html>